html, body {
  margin: 0;
  padding: 0;
}

.header {
  padding-bottom: 15px;
  box-shadow: 0px 0px 8px gray;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  margin-top: 15px;
  margin-left: 30px;
  display: flex;
  height: 10%;
  width: 10%;
  align-items: center;
  justify-content: center;
}

.nav-items {
  display: flex;
  list-style: none;
}

.nav-items > li {
  padding-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: Arial;
  font-size: 20px;
  font-weight: bold;
  margin-right: 30px;
  
}

.main-content {
  margin-top: 50px;
  margin-left: 30px;
}

.first-section-header {
  font-family: Arial;
  font-weight: bold;
}

.first-section-unordered-list {
  font-family: Arial;
  font-weight: bold;
}

.first-section-unordered-list > li {
  margin-bottom: 10px;
}

.footer {
  margin-top: 100px;
  color: white;
  background-color: gray;
  padding: 20px;
}